<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='../../index.css'>
    <link rel="stylesheet" href="jobPageStyle.css">
    <link rel="import" href="../../index.html" />
    <title>Document</title>
</head>
<body>
    <div class="mainApp">
        <div class="topBar">
            <div class="titleBar">
                <button id="showHideMenus" class="toggleButton"></button>
                <img src="../../icons/logo1.png">
                <div class="title">
                    Job Application Tracker
                </div>
            </div>
            <div class="titleBarBtns">
                <button id="minimizeBtn" class="topBtn minimizeBtn" title="Minimize"></button>
                <button id="maxResBtn" class="topBtn maximizeBtn" title="Maximize"></button>
                <button id="closeBtn" class="topBtn closeBtn" title="Close"></button>
            </div>
        </div>
        <div class="contentArea">
            <div id="mySidebar" class="leftMenu">
                <button id="jobList" class="sidebarBTNS"><a href="../../index.html">Job List</a></button>
                <button id="addJob" class="sidebarBTNS"><a href="jobPage.html">Add Job</a></button>
            </div>
            <div class="contentPages" id="formContainer">
                <form class="form">
                    <div class="inputContainer">
                        <label for="compName">Company Name</label>
                        <input type="text" id='compName' placeholder="Enter Company Name"/><br/>
                    </div>

                    <div class="inputContainer">
                        <label for="place">Location</label>
                        <input type="text" id='place' placeholder="Enter Location"/><br/>
                    </div>

                    <div class="inputContainer">
                        <label for="position">Position</label>
                        <input type="text" id='position' placeholder="Enter Position"/><br/>
                    </div>

                    <div class="inputContainer">
                        <label for="estSalary">Salary</label>
                        <input type="text" id='estSalary' placeholder="Enter Estimated Salary"/><br/>
                    </div>

                    
                    <div class="inputContainer">
                        <label for="dateApplied">Date Applied</label>
                        <input type="text" id='dateApplied' placeholder="Enter Date Applied"/><br/>
                    </div>
                    
                    <div class="inputContainer">
                        <label for="contact">Contact</label>
                        <input type="text" id='contact' placeholder="Enter Contact"/><br/>
                    </div>

                    <div class="inputContainer">
                        <label for="emailLink">Email Links</label>
                        <input type="text" id='emailLink' placeholder="Enter Email Links"/><br/>
                    </div>

                    <div class="inputContainer">
                        <label for="imgInput">Job Posting</label>
                        <input type="file" id="imgInput"><br>
                    </div>

                    <div class="inputContainer">
                        <label for="resumeInput">Resume</label>
                        <input type="file" id="resumeInput"><br>
                    </div>
                    
                    <div class="inputContainer">
                        <label for="coverLetterInput">Cover Letter</label>
                        <input type="file" id="coverLetterInput"><br>
                    </div>
                    
                    <div class="inputContainer" id="statusContainer">
                        <label for="stat">Status</label>
                        <select id="options" style="position: relative;">
                            <option value="Applied" id="applied">Applied</option>
                            <option value="Interview" id="interview">Interview</option>
                            <option value="Rejected" id="rejected">Rejected</option>
                            <option value="Offer" id="offer">Offer</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <button id="saveJob">Add Job</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../../utils/windowController.js"></script>
    <script src="../../utils/newJob.js"></script>
</body>
</html>