<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='../../index.css'>
    <link rel="stylesheet" href="jobPageStyle.css">
    <link rel="import" href="../../index.html" />
    <title>Document</title>
</head>
<body>
    <div class="mainApp">
        <div class="topBar">
            <div class="titleBar">
                <button id="showHideMenus" class="toggleButton"></button>
                <img src="../../icons/logo1.png">
                <div class="title">
                    Job Application Tracker
                </div>
            </div>
            <div class="titleBarBtns">
                <button id="minimizeBtn" class="topBtn minimizeBtn" title="Minimize"></button>
                <button id="maxResBtn" class="topBtn maximizeBtn" title="Maximize"></button>
                <button id="closeBtn" class="topBtn closeBtn" title="Close"></button>
            </div>
        </div>
        <div class="contentArea">
            <div id="mySidebar" class="leftMenu">
                <button id="jobList" class="sidebarBTNS"><a href="../../index.html">Job List</a></button>
                <button id="addJob" class="sidebarBTNS"><a href="jobPage.html">Add Job</a></button>
            </div>
            <div class="contentPages">
                <form class="form">
                    <input type="text" id='compName' placeholder="Enter Company Name"/><br/>
                    <input type="text" id='place' placeholder="Enter Location"/><br/>
                    <input type="text" id='position' placeholder="Enter Position"/><br/>
                    <input type="text" id='estSalary' placeholder="Enter Estimated Salary"/><br/>
                    <input type="text" id='stat' placeholder="Enter Status"/><br/>
                    <input type="text" id='dateApplied' placeholder="Enter Date Applied"/><br/>
                    <input type="text" id='contact' placeholder="Enter Contact"/><br/>
                    <input type="file" id="fileInput"><br>
                    <button id="saveJob">Add Job</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>