<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='../../index.css'>
    <link rel="stylesheet" href="jobPageStyle.css">
    <link rel="import" href="../../index.html" />
    <title>Document</title>
</head>
<body>
    <div class="mainApp">
        <div class="topBar">
            <div class="titleBar">
                <button id="showHideMenus" class="toggleButton"></button>
                <img src="../../icons/logo1.png">
                <div class="title">
                    Job Application Tracker
                </div>
            </div>
</body>
</html>