

html, body {
  margin: 0;
  padding: 0;
  font-size: 10pt;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #949AA7;
  height: 100%;
  

  background-color: rgba(46, 44, 44, 0.611);
  backdrop-filter: blur(10px);
}


.mainApp{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #343B48;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.mainApp > .topBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  border-bottom: 3px solid #343B48;
  background-color: #1B1D23;
  user-select: none;
  -webkit-user-select: none;
}




.topBar > .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.titleBar > .toggleButton {
  width: 40px;
  height: 30px;
  
  margin: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("./icons/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBar > .toggleButton:hover {
  background-color: #272C36;
}

.titleBar > .toggleButton:active {
  background-color: #4F9FEE;
}


.titleBar > img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.titleBar > .title {
  margin-left: 10px;
  width: 100%;
  line-height: 30px;
  margin-top: 5px;
  padding-bottom: 5px;
  -webkit-app-region: drag;

}

.topBar > .titleBarBtns {
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 40px;
}

.titleBarBtns > .topBtn {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBarBtns > .topBtn:hover {
  background-color: #272C36;
}

.titleBarBtns > .topBtn:active {
  background-color: #4F9FEE;
}

.titleBarBtns > .minimizeBtn {
  background-image: url("./icons/minimizeBtn.png");
}

.titleBarBtns > .maximizeBtn {
  background-image: url("./icons/maximizeBtn.png");
}

.titleBarBtns > .restoreBtn {
  background-image: url("./icons/restoreBtn.png");
}

.titleBarBtns > .closeBtn {
  background-image: url("./icons/closeBtn.png");
}





.contentArea > .leftMenu{
  width:0px;
  height:  100%;
  background-color: #1B1D23;
  transition: 0.4s;
  position: fixed;
  overflow-x: hidden;
  padding-top: 20px;
  display: block;
  flex-direction: column;
  overflow-y: hidden; 
  z-index: 1;
}

.contentArea > .leftMenu > .sidebarBTNS {

  border: 0px;
  border-radius: 10px;
  font-size: 18px;
  color: #818181;
  background-color: transparent;
  transition: 0.3s;
  margin: 15%;
  padding: 10px;
  width: 160px;
}

.contentArea > .leftMenu > .sidebarBTNS:hover {
  background-color: #C850F2;
  color: black;
  transition: 0.3s;
}
