<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='../../index.css'>
    <link rel='stylesheet' href='../../views/jobPage/jobPageStyle.css'>
</head>
<body>
    <div class="mainApp">
        <div class="topBar">
            <div class="titleBar">
                <img src="../../icons/logo1.png">
                <div class="title">
                    Job Application Tracker
                </div>
            </div>
            <div class="titleBarBtns" style="justify-content: flex-end;">
                <button id="closeBtn" class="topBtn closeBtn" onclick="window.close()"></button>
            </div>
        </div>
        <div class="contentArea">
            <div class="contentPages" id="formContainer">
                <form class="form">
                    <div class="inputContainer">
                        <label for="compName">Company Name</label>
                        <input type="text" id='compName' placeholder="Enter Company Name"/><br/>
                    </div>
                    <div class="inputContainer">
                        <label for="place">Location</label>
                        <input type="text" id='place' placeholder="Enter Location"/><br/>
                    </div>
                    <div class="inputContainer">
                        <label for="position">Position</label>
                        <input type="text" id='position' placeholder="Enter Position"/><br/>
                    </div>
                    <div class="inputContainer">
                        <label for="estSalary">Salary</label>
                        <input type="text" id='estSalary' placeholder="Enter Estimated Salary"/><br/>
                    </div>
                    
                    <div class="inputContainer">
                        <label for="dateApplied">Date Applied</label>
                        <input type="text" id='dateApplied' placeholder="Enter Date Applied"/><br/>
                    </div>
                    
                    <div class="inputContainer">
                        <label for="contact">Contact</label>
                        <input type="text" id='contact' placeholder="Enter Contact"/><br/>
                    </div>
                    
                    <div class="inputContainer" id="jobPostingInputContainer">
                        <label for="imgInput">Job Posting</label>
                        <input type="file" id="imgInput"><br>
                        <div id="jobPostingContainer"></div>
                    </div>
                    
                    <div class="inputContainer" id="resumeInputContainer">
                        <label for="resumeInput">Resume</label>
                        <input type="file" id="resumeInput"><br>
                        <div id="resumeContainer"></div>
                    </div>
                    
                    <div class="inputContainer" id="statusContainer">
                        <label for="stat">Status</label>
                        <select id="options" style="position: relative;">
                            <option value="Applied" id="applied">Applied</option>
                            <option value="Interview" id="interview">Interview</option>
                            <option value="Rejected" id="rejected">Rejected</option>
                            <option value="Offer" id="offer">Offer</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </form>
            </div>        
        </div>        
            </div>        
        </div>        
            </div>
        </div>        
    </div>
        </div>        
    </div>
    </div>
        </div>        
</body>
</html>